rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /items/{document=**} {
      allow write: if request.auth.uid == "b1Teb9eqK8ead8XvsHQNzpZz87k2" || request.auth.uid == "hzrcrTobSpfGnAgLMRKq5zCXWzA2";
      allow read;
    }
  }
}